.gender-container {
    width: 640px;
    margin: auto;
    height: 60px;
    border: 1px solid black;
    position: relative;

    .gender {
        display: inline;
        float: left;
        width: 319px;
        height: 100%;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        border-right: 1px solid black;
        cursor: pointer;

        &.active {
            background: gray;
            color: white;
        }
    }
}